.form{
    /* background-color: blanchedalmond; */
    width: 100%;
    height: 100vh;
    background-image: url('../../components/assets/t22.gif');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
.form h1{
    font-size: 30px;
    padding: 20px 0;
    
}
.form label{
    color: white;
   font-size: 28px;
   padding-right: 170px;
   padding-top: 5px;
}
.form{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}

#details{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 8px;
}
#details input{
gap: 20px;
}
