@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@500&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-color: black; */
  /* border: 3px  solid brown ; */
}
h1,h2,h3,h4,h5,h6,p,a,span,li,button Link{
    font-family: "Outfit", sans-serif;
    color: white;
}
li{
list-style: none;
}
a{
  text-decoration: none;
}